* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #05070c;
  color: white;
}

.hero-section {
  min-height: 100vh;
  background: linear-gradient(160deg, #0a1020, #020409);
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8%;
}

.logo {
  font-weight: 800;
  font-size: 22px;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #aaa;
}

nav a:hover {
  color: white;
}

.menu-btn {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.hero-content {
  flex: 1;
  text-align: center;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-content h1 {
  font-size: clamp(40px, 8vw, 72px);
  font-weight: 800;
}

.hero-content p {
  margin: 15px 0;
  color: #bbb;
}

.platforms {
  margin-top: 14px;
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
}

.platforms span {
  padding: 6px 14px;
  border-radius: 20px;
  background: #0b1120;
  color: #9dc7ff;
  font-size: 14px;
  border: 1px solid #1c2a4a;
}


.hero-content button {
  margin-top: 20px;
  padding: 14px 36px;
  font-size: 16px;
  background: #4da6ff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.hero-content button:hover {
  background: #78b9ff;
}

.ip {
  margin-top: 12px;
  color: #6fb5ff;
}

section {
  padding: 80px 8%;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 32px;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.feature {
  background: #0b1120;
  padding: 30px;
  border-radius: 14px;
  text-align: center;
  font-size: 18px;
  transition: transform .2s;
}

.feature:hover {
  transform: translateY(-5px);
}

.join {
  background: #080d1a;
  text-align: center;
}

footer {
  padding: 30px;
  text-align: center;
  color: #666;
}

/* Mobile */
@media(max-width: 768px) {
  nav {
    position: absolute;
    top: 70px;
    right: 8%;
    background: #0b1120;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    display: none;
  }

  nav.show {
    display: flex;
  }

  .menu-btn {
    display: block;
  }
}
